<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
  <div class="screen">
    <div class="login-screen"></div>

    <div class="container">
      <div class="form-container">
        <div class="login-form">
          <span class="login-form-title">Check your inbox.</span>
          <span class="msg-txt ">We've emailed you instructions for setting your password. You should receive the email shortly!</span>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
