{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<!-- <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Send message" /></p>
</form> -->
<div class="screen">
  <div class="login-screen">  </div>
  <div class="container">
    <div class="form-container">
      <form method="POST" class="login-form">
        {% csrf_token %}
        <span class="login-form-title">Create an account</span>
        <div class="wrap-input">
          <input class="input100" type="text" name="username" placeholder="Username" autofocus autocapitalize="none" maxlength="150" required id="id_username">
        </div>
        <div class="wrap-input">
          <input class="input100" type="text" name="first_name" placeholder="First Name" autofocus autocapitalize="none" maxlength="30" required id="id_first_name">
        </div>
        <div class="wrap-input">
          <input class="input100" type="text" name="last_name" placeholder="Last Name" autofocus autocapitalize="none" maxlength="30" required id="id_last_name">
        </div>
        <div class="wrap-input">
          <input class="input100" type="email" name="email" placeholder="Email" autofocus autocapitalize="none" maxlength="254" required id="id_email">
        </div>
        <div class="wrap-input">
          <input class="input100" type="password" name="password1" placeholder="Password" required id="id_password1">
        </div>
        <div class="wrap-input">
          <input class="input100" type="password" name="password2" placeholder="Confirm Password" required id="id_password2">
        </div>
        <div class="container-login-form-btn">
          <button type="submit" class="btn login-form-btn">Submit</button>
        </div>
        <div class="form-msg" style="padding-top: 50px;">
          <span class="msg-txt">Already a member?</span>
          <a class="msg-txt" href="{% url 'login' %}" >Login now</a>
        </div>
      </form>

    </div>
  </div>

</div>

{% endblock %}
