<!DOCTYPE html>
<html>
<head>
  {% load static%}
  <title>Logged in base</title>
  <meta charset="utf-8">
  <script src="https://kit.fontawesome.com/42f020cdf9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static "/css/main1.css" %}">
</head>
<body>
  <div class="wrapper">
    <input type="checkbox" id="check">
    <label for="check" class="bar">
      <i class="fas fa-caret-right fa-2x" id="btn"></i>
    </label>
    <div class="sidebar">
      <div class="username">
        <span>{{user.username}}</span>
      </div>
      <div class="image">
        <img class="profile-pic" src="{{user.profile.image.url}}">
      </div>
      <div class="links">
        <ul>
          <li><a href="{% url 'portfolio' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
          <li><a href="{% url 'profile' %}"><i class="fas fa-address-card"></i><span>Profile</span></a></li>
          <li><a href="#App"><i class="fas fa-calendar-check"></i><span>Apps</span></a></li>
          <li><a href="{% url 'games_index' %}"><i class="fas fa-gamepad"></i><span>Games</span></a></li>
          <li><a href="#"><i class="fas fa-info-circle"></i><span>About</span></a></li>
          <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li>
        </ul>
      </div>
      <div class="social_media">
        <a href="#"><i class="fab fa-facebook-f fab-3"></i></a>
        <a href="#"><i class="fab fa-twitter fab-3"></i></a>
        <a href="#"><i class="fab fa-instagram fab-3"></i></a>
      </div>
    </div>
    <div class="main_content">
        {% block content %}

        {% endblock %}
        <ul>
          <li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li><li>d</li>
        </ul>
    </div>

  </div>

</body>
</html>
